.ml-device-max {
    margin-left: 100vw;
}

.h-device-max {
    height: 100vh;
}

/* @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translatex(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* .fade-in-up {
    animation: fadeInUp 0.5s ease-out;
} */